body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

canvas {
  touch-action: none;
}

.portfolioSite iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background: #fff;
}

.mobileSite iframe {
  background-color: #fff;
  width: 486px;
  height: 1073px;
  border: none;
  border-radius: 78px;
  padding: 1rem;
}